@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-base font-bold;
  }
  h6 {
    @apply text-sm font-bold;
  }

  ul,
  li {
    @apply list-none;
  }
  a {
    @apply text-blue-500;
  }
  a:hover {
    @apply text-blue-700;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md bg-blue-500 text-white;
  }
  .btn:hover {
    @apply bg-blue-700;
  }
  .btn-outline {
    @apply px-4 py-2 rounded-md bg-white text-blue-500 border border-blue-500;
  }
  .btn-outline:hover {
    @apply bg-blue-500 text-white;
  }
  .btn-icon {
    @apply px-4 py-2 rounded-md bg-blue-500 text-white;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-xl {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-2xl {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .bg-primary {
    @apply bg-blue-500;
  }
  .bg-secondary {
    @apply bg-slate-400;
  }
}
